@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Dashboard</h1>
<div id="sonnette">
    <h2>Sonnette</h2>
    <div class="col-6">
        <ul id="notifList"></ul>
    </div>
</div>
<div>
    <p></p>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notif.js"></script>
